.main{
    padding: 3rem 4rem;
    background-color: rgb(240, 237, 237);
}
.contact_container{
    background-color: var(--bg-light);
}
.contact{
    padding: 3rem 6rem;
    display: flex;
    gap: 2rem;
}
.contact_hero{
    padding: 2rem 6rem 1rem;
}
.contact_hero img{
    width: 100%;
    border-radius: 10px;
}

.contact_left{
    width: 70%;
    background-color: #fff;
    border-radius: 10px;
    padding: 3rem 6rem;
}
.contact_right{
    width: 30%;
}
.form_group label{
    font-size: 18px;
    color: #5a5959;
}
.form_group span{
    color: red;
    margin-left: 0.5rem;
}
.form_group input{
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.8rem;
    border: 1px solid #bdbbbb;
    border-radius: 5px;
    outline: #bdbbbb;
}
.form_group textarea{
    width: 100%;
    min-height: 20vh;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid #bdbbbb;
    border-radius: 5px;
    outline: #bdbbbb;
    padding: 1rem;
}

form button{
    padding: 0.8rem;
    width: 30%;
    margin-top: 1rem;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #bdbbbb;
    transition: 1s;
}
form button:hover{
    background-color: #5a5959;
    color: #fff;
    font-weight: 700;
}
.contact_right .title{
    padding-top: 2rem;
    font-size: 25px;
    color: #5a5959;
    font-weight: 600;
}
.c_aside{
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #5a5959;
    padding: 2rem 0;
}
.c_aside span{
    color: red;
    font-size: 25px;
}
.s_aside{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
.s_aside span{
    display: grid;
    place-items: center;
    border: 1px solid #bab8b8;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.s_aside .in{
    color: #778cf1;
} 
.s_aside .whatsapp{
    color: #28ae3c;
} 
.s_aside .fb{
    color: #3045a9;
} 

@media(max-width:667px){
    .main{
        padding: 1rem;
    }
    .contact{
        padding: 1rem 2rem;
        flex-direction: column-reverse;
        gap: 2rem;
    }
    .contact_hero{
        padding: 1rem;
    }
    .contact_left{
        width: 100%;       
        padding: 3rem 1rem;
    }
    .contact_right{
        width: 100%;
    }
    .contact_right .title{
        padding-top: 0rem;
        font-size: 20px;
        color: #5a5959;
        font-weight: 600;
    }
    .s_aside{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;
    }
}