:root{
  --text-blue: #39393c;
  --text-blue-transparent: #c4c4c6;
  --text-red: #fd1212;
  --text-white: #fff;
  --text-light: #d2d0d0;
}

.active{
    color: var(--text-red);
}

.navbar2_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6rem;
    background-color: #110f32;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.brand{
    display: flex;
    align-items: center;
    gap: 0.5rem;  
}
.brand > span{
    font-size: 50px;
}
.brand p{
    font-size: 20px;
    color: var(--text-light);
    font-weight: 900;
    letter-spacing: 0.1rem;
}
.brand span{
    color: var(--text-red);
}
.menu_icon{
    display: none;
}
.navbar2_header .navs{
    display: flex;
    gap: 2rem;
    align-items: center;
}
.navs a{
    font-size: 20px;        
    text-decoration: none;
    color: #d4d2d2;
    font-weight: 400;
}
.navs a:hover{    
    color: var(--text-red);
    font-weight: 400;
}

@media(max-width:667px){
    .navbar2_header{
        align-items: center;
        padding: 1rem;
    }
    .menu_icon{
        display: block;
        position: absolute;
        right: 0rem;
        top: 2rem;
        color: #fff;
        font-size: 60px;
        padding-bottom: 2rem;
    }
    .navbar2_header .navs{
        display: none;
        flex-direction: column;
        position: absolute;
        padding: 4rem 0rem 6rem;
        top: 4rem;
        right: 0;
        left: 0;
        bottom: 0;
        gap: 2rem;
        border-right: 1px solid;
        align-items: center;
        background-color: #110f32;
        z-index: 1;
    }
    .navbar2_header .navs.active{
        display: flex;
    }
    .nav_item{
        border-bottom: 1px solid #fff;
        
    }
}