.footer{
    padding-top: 2rem;
}
.f-col{
    padding: 1rem 0rem;
}
.f-col img{
    width: 100px;
    margin-bottom: 1rem;
}
.f-col p{
    color: rgb(181, 180, 180);
    font-size: 18px;
}
.f-col .btn{
    margin: 1rem 0rem;
    width: 100px;
    padding: 0.4rem;
    border-radius: 10px;
}
.foot-aside{
    display: flex;
    margin-top: 0,3rem;
}
.foot-aside i{
    font-size: 17px;
    margin-right: 1rem;
}
.copy{
    text-align: center;
    font-size: 12px;
    padding-bottom: 1rem;
    color: rgb(164, 162, 162);
}